* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171718;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.popover-arrow::after {
  border-right-color: #343a40 !important;
}
