* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #171718;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.text-muted {
  color: #afafaf !important;
}

.panel-top {
  border: 1px solid rgb(255, 255, 255, 25%);
  border-right: none;
  border-left: none;
  flex-shrink: 0;
  height: rem(58px);
}

.popover-content {
  font-size: rem(13px);
  color: #bdbbbb;
}

.custom-scrollbar::-webkit-scrollbar {
  width: rem(6px);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(64, 229, 194, 0.862) transparent;
  border-radius: rem(10px);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(64, 229, 194, 0.862) transparent;
}

.message-content {
  font-size: 14px;
  word-break: break-all;
}

.timestamp {
  font-size: 11px;
}
