#cross:hover {
  opacity: 0.6;
  cursor: pointer;
}

#dmPanelContent {
  transition: 0.7s;
  min-height: 0;
  /* padding-bottom: 6rem; */
}

.offCanvas {
  width: 350px;
  transition: 0.7s;
}

.offCanvas:not(.show) {
  transform: translateX(350px);
  margin-left: -350px;
}

.show {
  transform: translateX(0);
}

.friend-profile-bg {
  height: 150px;
}

.options-tab {
  transform: translateY(10px);
  display: none;
}

.option {
  width: 27px;
  height: 27px;
  opacity: 0.6;
}

.option:hover {
  font-size: 18px;
  cursor: pointer;
  background-color: #2a2a2a;
  opacity: 1;
}

.message {
  /* background-color: #171718; */
  transition: 0.3s;
}

/* .aa {
  background-color: #171718;
} */

.message:hover {
  background-color: #3f3a3acf;
}

/* .message:hover .aa {
  background-color: #3f3a3acf;
} */

.active {
  background-color: #3f3a3acf;
}

.message:hover .options-tab {
  display: flex;
}

.message-form {
  background-color: rgb(39 38 38);
  min-height: 60px;
  max-height: 600px;
}

#fileIcon:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.697);
}

#msg-input,
#edit-input {
  resize: none;
}

#msg-input:focus,
#msg-input:active,
#edit-input:focus,
#edit-input:active {
  outline: 0;
}

#msg-input::placeholder {
  color: white;
}

@keyframes highlight {
  0% {
    background-color: #3f3a3acf;
  }
  100% {
    background-color: unset;
  }
}
