#cross:hover {
  opacity: 0.6;
  cursor: pointer;
}

#dmPanelContent {
  transition: 0.7s;
  min-height: 0;
  /* padding-bottom: 6rem; */
}

.offCanvas {
  width: rem(350px);
  transition: 0.7s;
}

.offCanvas:not(.show) {
  transform: translateX(rem(350px));
  margin-left: rem(-350px);
}

.show {
  transform: translateX(0);
}

.friend-profile-bg {
  height: rem(150px);
}

.options-tab {
  transform: translateY(rem(10px));
  display: none;
  position: absolute;
  align-items: center;
  background-color: #212529;
  border: 1px solid var(--mantine-color-dark);
  border-radius: var(--mantine-radius-md);
  right: 0;
  bottom: 100%;
  margin-right: var(--mantine-spacing-xs);
}

.option {
  width: rem(27px);
  height: rem(27px);
  opacity: 0.6;
}

.option:hover {
  font-size: rem(18px);
  cursor: pointer;
  background-color: #2a2a2a;
  opacity: 1;
}

.message {
  /* background-color: #171718; */
  transition: 0.3s;
}

.message:hover {
  background-color: #3f3a3acf;
}

/* .message:hover .aa {
  background-color: #3f3a3acf;
} */

.active {
  background-color: #3f3a3acf;
}

.message:hover .options-tab {
  display: flex;
}

.message-form {
  background-color: rgb(32, 31, 31);
  border: 1px solid rgba(128, 128, 128, 0.5);
  min-height: rem(60px);
  max-height: rem(600px);
  border-radius: var(--mantine-radius-md);
}

.message-form.msg-to-reply-active {
  border-top-width: 0;
}

#fileIcon:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.697);
}

#msg-input,
#edit-input {
  resize: none;
}

#msg-input:focus,
#msg-input:active,
#edit-input:focus,
#edit-input:active {
  outline: 0;
}

#msg-input::placeholder {
  color: white;
}

@keyframes highlight {
  0% {
    background-color: #3f3a3acf;
  }
  100% {
    background-color: unset;
  }
}
