.offCanvas {
  width: rem(350px);
  transition: 0.7s;
}

.offCanvas:not(.show) {
  transform: translateX(rem(350px));
  margin-left: rem(-350px);
}

.show {
  transform: translateX(0);
}

.friend-profile-bg {
  height: rem(150px);
}
