.group-settings-layout {
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--mantine-spacing-md);
  justify-content: space-between;
}

.group-settings-panel {
  width: 65%;
  height: 100%;
  padding: 3rem; /* Mantine xl */
  overflow-y: auto;
  box-sizing: border-box;
}

.group-settings-title {
  margin: 0;
}

.group-settings-subtitle {
  margin-top: rem(8px);
  margin-bottom: 0;
}

.group-settings-stack {
  margin: rem(16px) 0;
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.group-settings-preview {
  width: rem(350px);
  height: rem(280px);
  box-sizing: border-box;
}
