.btn {
  flex-shrink: 0;
}

.msg-request {
  border: 1px solid;
  border-color: rgb(255, 255, 255, 25%);
  border-bottom: none;
  border-left: none;
  border-right: none;
  transition: 0.3s;
}

.icon {
  font-size: rem(20px);
}

.msg-request:hover {
  background-color: #2d2d2e;
  border-color: rgb(255, 255, 255, 0%);
  border-radius: rem(7);
}

.msg-request:hover + .msg-request {
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.msg-request:hover :is(.accept, .reject) {
  border: 1px solid #242323;
  background-color: #242323;
}

.accept:hover {
  color: green;
  cursor: pointer;
}
.reject:hover {
  color: red;
  cursor: pointer;
}
