.msg-replied {
  height: rem(37px);
  width: calc(100% - rem(10px));
  transform: translate(rem(20px), rem(-7px));
  margin-bottom: -1rem;
}

.line {
  width: rem(30px);
  height: rem(25px);
  border: 1px solid white;
  border-width: 1px 0 0 1px;
  border-top-left-radius: var(--mantine-radius-md);
}

.msg-replied-content {
  height: rem(35px);
  margin-bottom: rem(7px);
}

.msg-replied-message {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
