.paper {
  width: rem(420px);
  /* height: rem(175px); */
  max-height: rem(450px);
  background-color: rgb(27 26 26);
  border-color: rgb(27 26 26);
  right: rem(215px);
  position: absolute;
  z-index: 6;
}

.header-icon {
  font-size: var(--mantine-h3-font-size);
  margin-left: var(--mantine-spacing-xs);
}

.modal-header {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-width: 0 0 1px 0;
}

.cross {
  display: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: rem(10px);
  top: rem(10px);
}

.pinned-msg {
  position: relative;
}

.pinned-msg:hover .cross {
  display: flex;
}

.cross:hover {
  color: white;
}

.no-data {
  width: 100%;
  margin-top: var(--mantine-spacing-xl);
  font-size: 5rem;
}

.stack {
  overflow: auto;
  max-height: rem(370px);
}
