#serverList {
  width: 70px;
  background-color: #121214;
}
/* #19191b
#17171b */

.btn {
  color: white;
  width: rem(40px);
  height: rem(35px);
  font-size: var(--mantine-font-size-lg);
  margin-left: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-gray-8);
  border-radius: var(--mantine-radius-sm);
}

.btn.active {
  background-color: var(--mantine-color-gray-6);
}

.btn:hover {
  cursor: pointer;
}

.btn:not(.active):hover {
  background-color: var(--mantine-color-gray-7);
}

.modal-btn {
  background-color: var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-sm);
}
