.card-div {
  width: 300px;
  height: 375px;
  border: 1px solid #353539;
}

.card-body-div {
  background-color: #1d1e21;
}

.card-profile-icon-inner,
.card-bg-inner,
.card-animated-view-inner {
  height: 250px;
  background-color: #212126;
}

.profile {
  opacity: 0;
  transition: 0.5s;
}

.product-bg {
  /* background-image: url(/kaneki-2.gif); */
  background-size: 100% 125%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s;
}

.product-animated-view {
  opacity: 0;
  transition: 0.5s;
}

.profile-skeleton {
  opacity: 1;
  transition: 0.9s;
}

.card-product-profile-icon:hover .profile {
  opacity: 1;
}

.card-product-bg:hover .product-bg {
  opacity: 0.5;
}

.card-animated-view:hover :is(.product-animated-view, .profile) {
  opacity: 1;
}

.card-animated-view:hover .profile-skeleton {
  opacity: 0;
  transition: 0.3s;
}

.filter {
  background-image: linear-gradient(to bottom, black, transparent, black);
}
