@import "../index.css";

.settings-icon {
  transition: 1.3s;
}

.settings-icon:hover {
  transform: rotateZ(260deg);
  cursor: pointer;
}

.user-profile-bar-btn {
  border: 0;
  border-radius: var(--mantine-radius-md);
  background-color: transparent;
  padding: 0;
  text-align: left;
  width: 80%;
  margin: var(--mantine-spacing-xs) 0 var(--mantine-spacing-xs) 0;
}

.user-profile-bar-btn:hover {
  background-color: rgb(46, 46, 46);
  cursor: pointer;
}

.username {
  transition: 0.5s;
}

.user-profile-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(32, 31, 31);
  min-height: 60;
}

.user-profile-bar:hover .username {
  transform: translateY(-15px);
}

.active-modal-link {
  color: white;
  background-color: rgb(55, 53, 53);
  /* border: 1px solid rgb(55, 53, 53); */
  border-radius: var(--mantine-radius-md);
}

.modal-link {
  color: var(--text-muted);
}

.modal-link:hover {
  color: white;
  background-color: rgb(19, 19, 19);
  cursor: pointer;
  /* border: 1px solid rgb(19, 19, 19); */
  border-radius: var(--mantine-radius-md);
}
